/*** FONTFACE ***/

@font-face {
  font-family: 'trade medium';
  src:  url('../fonts/trade-medium.eot');
  src:  url('../fonts/trade-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-medium.woff') format('woff'),
		url('../fonts/trade-medium.ttf') format('truetype'),
		url('../fonts/trade-medium.svg#trade-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trade 20';
  src:  url('../fonts/trade-20.eot');
  src:  url('../fonts/trade-20.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-20.woff') format('woff'),
		url('../fonts/trade-20.ttf') format('truetype'),
		url('../fonts/trade-20.svg#trade-20') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trade 18';
  src:  url('../fonts/trade-18.eot');
  src:  url('../fonts/trade-18.eot?#iefix') format('embedded-opentype'),
		url('../fonts/trade-18.woff') format('woff'),
		url('../fonts/trade-18.ttf') format('truetype'),
		url('../fonts/trade-18.svg#trade-18') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'hacedores';
	src:url('../fonts/hacedores.eot');
	src:url('../fonts/hacedores.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hacedores.woff') format('woff'),
		url('../fonts/hacedores.ttf') format('truetype'),
		url('../fonts/hacedores.svg#hacedores') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------------*\
    #GENERAL
\*------------------------------------*/
html , body , .wrap {
    background : #fff ;
    font-family: 'trade medium';
}

a{ color: #bd545c; }




/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/
#adminmenu, #adminmenu .wp-submenu,
#adminmenuback, #adminmenuwrap{
	background: #fff;
	border-right: 1px solid #939597;

}
#adminmenuwrap{
	border-bottom: 1px solid #939597;
}

#adminmenu a{ color: #58585b; }

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu{
	background: #939597;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu{
	background: #fff100;
	color: #727477;
}

#adminmenu div.wp-menu-image:before{
	color: #fff100;
}